<!DOCTYPE>
<html>
    <head>
        <link href="styles/style_dash.css" rel="stylesheet" type="text/css"/>
        <h1>Resident Income and Info</h1>
        <table name="dash-table">
            <tr>
                <th name="resident">Resident Name</th>
                <th class="date" name="birth">Birthday</th>
                <th class="date" name="admission">Admission Day</th>
                <th class="money" name="rent">Monthly Income</th>  
            </tr>
        </table>
    </head>
</html>